* {
    border: 0;
    margin: 0;
    padding: 0;
}

object {
    display: none;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    overflow-x: hidden;
    background-color: #232526;
}

input, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:focus,
button:focus,
select:focus,
textarea:focus,
a {
    outline: 0 !important;
    color: #F15A2A;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

ins {
    text-decoration: none;
}

.full-page {
    background: #232526;
    background: -webkit-linear-gradient(225deg, #414345, #232526);
    background: linear-gradient(225deg, #414345, #232526);

    width: 100%;
    height: 100vh;
}

.full-page .title {
    max-width: 800px;
    padding-top: 16vh;
    margin: 0 auto;
    color: #FFFFFF;
}

.full-page .title h1 {
    text-transform: uppercase;
    font-size: 7rem;
    line-height: 0.8;
    font-weight: bold;
    padding: 0 20px;
}

.full-page .title h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 20px 20px 0 20px;
    text-align: right;
}

.full-page .title span {
    color: #F15A2A;
}

.full-page .button-holder {
    margin-top: 8vh;
    text-align: center;
}

.full-page .button {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.6rem 1.2rem;
    border: 2px solid #F15A2A;
    color: #F15A2A;
    display: inline-block;
    transition: box-shadow ease 0.2s, color linear 0.1s;
    background-color: #F15A2A;
    box-shadow: inset 0 0 0 60px #323436;
}

.full-page .button:hover {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 0 #323436;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 24px 0;
    background-color: #00000022;
    text-align: center;
}

.footer .element {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    max-width: 180px;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
}

.footer .element a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: color ease 0.2s;
}

.footer .element a:hover {
    color: #F15A2A;
}

.footer .element:nth-of-type(2) {
    border-left: 1px solid #3F4143;
    border-right: 1px solid #3F4143;
}

.top-bar {
    width: 100%;
    background-color: #1A1B1C;
    height: 56px;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.top-bar .wrapper {
    color: #ACACAC;
    font-size: 0;
}

.top-bar .wrapper .user-info,
.top-bar .wrapper .nav-bar {
    display: inline-block;
    vertical-align: top;
}

.top-bar .wrapper .user-info {
    padding: 4px 12px 4px 4px;
    background-color: #101012;
    min-width: 200px;
    font-size: 16px;
}

.top-bar .wrapper .user-info img {
    display: inline-block;
    vertical-align: top;
}

.top-bar .wrapper .user-info .name-holder {
    display: inline-block;
    vertical-align: top;
    padding: 4px;
}

.top-bar .wrapper .user-info .full-name {
    font-weight: bold;
}

.top-bar .nav-bar {
    text-align: right;
    float: right;
}

.top-bar .nav-bar a {
    text-decoration: none;
    height: 56px;
    line-height: 56px;
    display: inline-block;
    text-transform: uppercase;
    color: #ACACAC;
    padding: 0 16px;
    background-color: #1A1B1C;
    font-size: 16px;
    transition: all ease 0.2s;
}

.top-bar .nav-bar a:hover {
    color: #FFFFFF;
    background-color: #101012;
}

.top-bar h2 {
    display: inline-block;
    font-size: 24px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.top-bar h2 span {
    color: #F15A2A;
}

.card {
    background-color: #1A1B1C;
    padding: 20px 40px 40px 40px;
    color: #999999;
    margin-top: 80px;
    border-top: 12px solid #101012;
}

.card h1 {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 36px;
}

.card h2 {
    text-transform: uppercase;
    color: #F15A2A;
    font-size: 20px;
    margin-bottom: 20px;
}

.card h3 {
    padding: 10px 0;
    font-weight: 300;
    color: #FFFFFF;
}

.card .property {
    padding: 4px 0;
}

.card .properties .icon {
    display: inline-block;
    vertical-align: top;
    padding-left: 36px;
}

.card .properties .icon i {
    font-size: 36px;
}

.card .properties .key {
    display: inline-block;
    min-width: 200px;
    line-height: 36px;
    vertical-align: top;
}

.card .properties .value {
    display: inline-block;
    line-height: 36px;
    vertical-align: top;
    color: #FFFFFF;
}

.card p {
    padding: 0 36px;
    text-align: justify;
    line-height: 1.4;
}

.card .avatar {
    padding-left: 36px;
    margin-bottom: 20px;
}

.empty-footer {
    padding: 20px;
}

.subject {
    max-width: 210px;
    color: #ACACAC;
    background-color: #101012;
    border-top: 8px solid #E75C4B;
}

.subject h3 {
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 4px;
}

.subject h4 {
    font-weight: 300;
}