<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring TAD Demo - Kir-Dev Workshop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div class="full-page">
    <div class="title">
        <h1>Spring-boot <span>TAD</span> Demo</h1>
        <h3>Böngéssz kedvedre a <span>VIK</span>-es tárgyak között</h3>

        <div class="button-holder">
            <a href="subjects.html" th:href="@{/subjects}" class="button">Tovább</a>
        </div>
    </div>

    <div class="footer">
        <div class="element">
            <a href="https://kir-dev.sch.bme.hu/" target="_blank">
                <img src="../static/images/kirdev-inverted.svg" th:src="@{/images/kirdev-inverted.svg}" alt="Kir-Dev logó" height="100" width="100" />
            </a>
        </div>
        <div class="element">
            <a href="http://kir-dev.github.io/tanfolyam/" target="_blank">Tanfolyamok</a>
        </div>
        <div class="element">
            <a href="https://github.com/Gerviba/kirdev-kotlin-workshop-1" target="_blank">A projekt repója</a>
        </div>
    </div>
</div>

</body>
</html>