<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring TAD Demo - Kir-Dev Workshop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="top-bar">
    <div class="wrapper">
        <h2><span>TAD</span> Demó Projekt</h2>

        <div class="nav-bar">
            <a href="subjects.html">Összes</a>
            <a href="courses.html">Kurzusaim</a>
            <a href="profile.html">Profilom</a>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="card">
        <h1>Kurzus neve</h1>
        <h2>VIAUXYZ01</h2>

        <h3>Tulajdonságok</h3>
        <div class="properties">

            <div class="property">
                <div class="icon"><i class="material-icons" style="color:#E75C4B">emoji_events</i></div>
                <div class="key">Kredit</div>
                <div class="value">4</div>
            </div>

            <div class="property">
                <div class="icon"><i class="material-icons" style="color:#69BB55">emoji_flags</i></div>
                <div class="key">Követelmények</div>
                <div class="value">0/0/0/a</div>
            </div>

            <div class="property">
                <div class="icon"><i class="material-icons" style="color:#29C2DE">calendar_today</i></div>
                <div class="key">Szemeszter</div>
                <div class="value">2</div>
            </div>

            <div class="property">
                <div class="icon"><i class="material-icons" style="color:#F2D42F">grade</i></div>
                <div class="key">Tanszék</div>
                <div class="value">AUT</div>
            </div>

            <div class="property">
                <div class="icon"><i class="material-icons" style="color:#C07CDE">emoji_objects</i></div>
                <div class="key">Szak</div>
                <div class="value">IT</div>
            </div>

            <div class="property">
                <div class="icon"><i class="material-icons" style="color:#FCAA54">extension</i></div>
                <div class="key">Típus</div>
                <div class="value">Mintatanterv</div>
            </div>
            <div class="property">
                <div class="icon"><i class="material-icons" style="color:#1590DE">school</i></div>
                <div class="key">Szint</div>
                <div class="value">BSC</div>

            </div>
        </div>

        <h3>Ismertető</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, mi vitae viverra commodo, mauris neque auctor tortor, nec blandit neque purus sit amet libero. Aliquam nec cursus turpis. Phasellus porta condimentum metus quis ultrices. Phasellus et orci sit amet sem scelerisque vehicula ac vel nunc. Proin elementum nunc ut lorem facilisis aliquam. Ut pulvinar ex in volutpat rutrum. Aenean dictum hendrerit nulla, nec maximus enim dignissim sit amet. Proin consectetur ex et orci imperdiet, non luctus ex aliquam. Nam ac tempor metus, eu bibendum ipsum. Morbi vestibulum ante quis tincidunt ultricies.</p>

    </div>

    <div class="empty-footer"></div>
</div>

</body>
</html>