<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring TAD Demo - Kir-Dev Workshop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
        function sendRequest() {
            fetch('/api/search?keyword=' + encodeURI(document.getElementById("search").value))
                .then((response) => {
                    return response.json();
                })
                .then((subjects) => {
                    console.log(subjects);
                    let result = "";
                    for (let sub of subjects) {
                        result += `
                            <a href="/subject/${sub.code}"><div class="subject">
                            <div class="bg"></div>
                            <h3>${sub.name}</h3>
                            <h4>${sub.code}</h4>
                            <br>
                            <span>${sub.department}</span><span>${sub.requirements}</span>
                        </div></a>`;
                    }
                    document.getElementById("ins").innerHTML = result;
                });
        }
    </script>
</head>
<body>

<div class="top-bar">
    <div class="wrapper">
        <h2><span>TAD</span> Demó Projekt</h2>

        <div class="nav-bar">
            <a href="subjects.html" th:href="@{/subjects}">Összes</a>
            <a href="profile.html" th:href="@{/profile}">Profilom</a>
        </div>
    </div>
</div>

<div class="wrapper subjects">
    <h1>KURZUS KERESÉSE</h1>
    <div class="search">
        <input type="text" th:onkeyup="sendRequest()" id="search" name="search"/>
    </div>

    <div id="ins">


    </div>

    <div class="empty-footer"></div>
</div>

</body>
</html>